@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #222435;
    font-family: 'Roboto', sans-serif;
}

*:focus{
    outline: none;
}

h1{
    font-weight: 900;
    color: #7d83b9;
    text-align: center;
}

form{
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 60px;

}

input{
    display: flex;
    width: 100%;
    height: 60px;
    background: #2d3046;
    border: none;
    padding-left: 30px;
    border-radius: 10px;
    color: white;
}

button.add{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #363b65;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    height: 61px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

button.add:hover{
    
}

@media screen and (max-width: 900px){
    form{
        width: 100%;
    }
}